<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/create_space.css">
    <title>Create a Space</title>
    <img style='display: block; margin-left:auto;' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRGIkTAgm7sLd5-b-S4QZ1T7PudHCKEJptAA&s" alt="Logo">
</head>
<body>
    <h1 align="center">Create a Space</h1>
    <div id="mySidenav" class="sidenav">
        <a href="/" id="about">Home</a>
        <a href="/registration" id="blog">Register</a>
        <a href="/spaces" id="projects">Create a Space</a>
        <a href="/about" id="contact">About</a>
    </div>
    <form action="/spaces" method="post" align="center">
        <p>
            <span class="white_bg"><label for="name">Space Name</label></span>
            <input type="text" name="name" id="name">
        </p>
        <p>
            <span class="white_bg"><label for="street">Street</label></span>
            <input type="text" name="street" id="street">
        </p>
        <p>
            <span class="white_bg"><label for="city">City</label></span>
            <input type="text" name="city" id="city">
        </p>
        <p>
            <span class="white_bg"><label for="property_type">Property Type</label></span>
            <input type="text" name="property_type" id="property_type">
        </p>
        <p>
            <span class="white_bg"><label for="maximum_capacity">Maximum Capacity</label></span>
            <input type="number" name="maximum_capacity" id="maximum_capacity" min="1">
        </p>
        <p>
            <span class="white_bg"><label for="number_of_bedrooms">Number of Bedrooms</label>
            <input type="number" name="number_of_bedrooms" id="number_of_bedrooms" min="1">
        </p>
        <p>
            <span class="white_bg"><label for="number_of_bathrooms">Number of Bathrooms</label></span>
            <input type="number" name="number_of_bathrooms" id="number_of_bathrooms">
        </p>
        <p>
            <span class="white_bg"><label for="price_per_night">Price per Night (e.g. 100.00)</label></span>
            <input type="number" name="price_per_night" id="price_per_night">
        </p>
        <p>
            <span class="white_bg"><label for="user_id">User ID</label></span>
            <input type="number" name="user_id" id="user_id" min="1">
        </p>
        <p>
            <input type="submit" value="Create Space">
        </p>
    </form>
    <p align="center">
        <a href="/login"> <button>Log in </button> </a>
    </p>
    <form align="center">
        <input type="button" value="Go back!" onclick="history.back()">
    </form>
    <p align="center">
        <a href="/">
            <input type="button" value="Home">
        </a>
    </p>
</body>
</html>