<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="static/creation_success.css">
        <title>SpaceSuccess</title>
        <img style='display: block; margin-left:auto;' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRGIkTAgm7sLd5-b-S4QZ1T7PudHCKEJptAA&s" alt="Logo">
    </head>
    <body>
        <div id="mySidenav" class="sidenav">
            <a href="/" id="about">Home</a>
            <a href="/registration" id="blog">Register</a>
            <a href="/spaces" id="projects">Create a Space</a>
            <a href="/about" id="contact">About</a>
        </div>
        <h1 align="center"><span class="white_bg">Your Space has been Created Successfully !</span></h1>
        <a href="/">
            <article>
                <input type="button" value="Home">
            </article>
        </a>
    </body>
</html>
