<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>{{space.name}}</title>

    </head>
    <body>
        <h1>{{space.name}}</h1>
        <p>{{space.street}}, {{space.city}}</p>
        <p>{{space.property_type}}</p>
        <p>Max Guests {{space.maximum_capacity}}</p>
        <p>Beds {{space.number_of_bedrooms}}, Bathrooms {{space.number_of_bathrooms}}</p>
        <p>£{{space.price_per_night}}</p>
        <p>
            <a href="http://localhost:5001/registration"> Register </a>
        </p>
        <p>
            <a href="http://localhost:5001/login"> Login </a>
        </p>
        <p>
            <a href="http://localhost:5001/spaces"> Create a Space </a>
        </p>

    </body>
</html>