body {
    font-size: 10px;
    background-image: url("https://lochtree.com/cdn/shop/articles/the-environmental-benefits-of-bamboo-how-sustainable-is-it-472645_1600x.jpg?v=1629733724")
    
}
h1 {
    color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    background-color: silver;
    /* width: 100px; */
    margin-left: 450px;
    margin-right: 450px;
}
a {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    
}
img {
    width:150px;
    height:100px;
    text-align:left;
}
head {
    text-align:left;
}
p {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    padding:10px;
    display:block;
}
button{
    
    display: block;
}
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -35px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    text-align: right;
    font-size: 11px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}
#about {
    top: 20px;
    background-color: #04AA6D;
    
}

#blog {
    top: 80px;
    background-color: #04AA6D; /* Blue */
}

#projects {
    top: 140px;
    background-color: #04AA6D; /* Red */
}

#contact {
    top: 200px;
    background-color: #04AA6D; /* Light Black */
}
.white_bg 
{
    background-color: #ffffff;
    padding: 1px; /*add this if you want a bit of space around the text*/
}