<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <title>BambooBnB</title>
    </head>
    <body>
        <div class="sidenav">
            <a href="/registration">Register</a>
            <a href="/login">Log In</a>
            <a href="/spaces">Create a Space</a>
            <a href="#">About</a>
        </div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRGIkTAgm7sLd5-b-S4QZ1T7PudHCKEJptAA&s" alt="Logo" style="display: block; margin:left;">
        <div class="links">
            
            <h1 align="center">Spaces</h1>
            <hr>
            {% for space in spaces %}
                <article align="center">
                    <h2>
                        <a href="/spaces/{{space.id}}">{{space.name}}</a>
                    </h2>
                    <hr>
                </article>
            {% endfor %}
        </div>
    </body>
</html>