<!DOCTYPE html>
<html lang="en">
    <head>
        <img src="https://t4.ftcdn.net/jpg/03/53/29/89/360_F_353298932_QLppSf3jnunqN9NQvFbdNqOkOgtyAFGR.jpg" alt="Logo">
        <title>BambooBnB</title>
    </head>
    <body>
        <h1>Spaces</h1>
        <p>
            <a href="http://localhost:5001/registration"> Register </a>
        </p>
        <p>
            <a href="http://localhost:5001/login"> Login </a>
        </p>
        <p>
            <a href="http://localhost:5001/spaces"> Create a Space </a>
        </p>
        <hr>
        {% for space in spaces %}
            <article>
                <h2>
                    <a href="/spaces/{{space.id}}">{{space.name}}</a>
                </h2>
                <hr>
            </article>
        {% endfor %}
    </body>
</html>