<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/login.css">
    <title>Login</title>
    <img style='display: block; margin-left:auto;' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRGIkTAgm7sLd5-b-S4QZ1T7PudHCKEJptAA&s" alt="Logo">
</head>
<body>
    <h1 align="center">Login</h1>
    <div id="mySidenav" class="sidenav">
        <a href="/" id="about">Home</a>
        <a href="/registration" id="blog">Register</a>
        <a href="/spaces" id="projects">Create a Space</a>
        <a href="/about" id="contact">About</a>
    </div>
    <form action="" method="post" align="center">
        <p>
            <span class="white_bg"><label for="username">Username</label></span>
            <input type="text" name="username" required>
        </p>
        <p>
            <span class="white_bg"><label for="password">Password</label></span>
            <input type="password" name="password" required>
        </p>
        <p>
            <button type="submit" value="redirect">Login</button>
        </p>
    </form>

    
</body>
</html>