<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/registration.css">
    <title>Registration</title>
    <img style='display: block; margin-left:auto;' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRGIkTAgm7sLd5-b-S4QZ1T7PudHCKEJptAA&s" alt="Logo">
</head>
<body>
    <h1 align="center"><span class="white_bg">Registration</span></h1>
    <div id="mySidenav" class="sidenav">
        <a href="/" id="about">Home</a>
        <a href="/registration" id="blog">Register</a>
        <a href="/spaces" id="projects">Create a Space</a>
        <a href="/about" id="contact">About</a>
    </div>
    <form action="/users" method="post" align="center">
        <p>
            <span class="white_bg"><label for="username">Username</label></span>
            <input type="text" name="username" id="username">
        </p>
        <p>
            <span class="white_bg"><label for="password">Password</label></span>
            <input type="password" name="password" id="password">
        </p>
        <p>
            <span class="white_bg"><label for="email">Email address</label></span>
            <input type="text" name="email" id="email">
        </p>
        <article>
            <input type="reset" value="Clear Form">
        </article>
        <article>
            <input type="submit" value="Register">
        </article>
        <!-- <p>
            <input type="button" onclick="" value="Cancel">
        </p> -->
    </form>
        <a href="/login">
            <article align="center"> 
                <input type="button" value="Log in">
            </article>
        </a>
        
</body>
</html>